<div class="container">
  <div class="main-content">
</div><%= form_tag reset_password_process_path do %>
<%= label_tag :password %>
<%= password_field_tag :password %>
<br/>
<%= submit_tag :submit, class:"btn btn-primary" %>
<% end %>
</div>
</div>
